<div class="title-sec-right"> 
    <form [formGroup]="filterForm">
        <div class="row col-12" >
            <div class="col-4">
                <span>MONTH</span>
                <select class="dropdown" formControlName='Monthdata' id="Monthdata" >
                    <option *ngFor="let month of monthList" [value]="month.id" >
                        {{month.monthName}}
                    </option>
                </select>
            </div>
            <div class="col-4">
                <span>YEAR</span>
                <select class="dropdown" formControlName='Yeardata' id="Yeardata" >
                    <option *ngFor="let year of yearList" [value]="year.year">{{year.year}}</option>
                </select>
            </div>
            <div class="col-4">
                <span>TYPE</span>
                <select class="dropdown"  id="Type" >
                    <option *ngFor="let type of typeList" [value]="type.id">
                        {{type.name}}
                    </option>
                </select>
        
            </div>
        </div>
        <div class="row col-12" >
            <div class="col-6">
                <span >TASK STATUS</span>
                <select class="dropdown"  id="TaskStatus">
                    <option *ngFor="let taskStatus of taskStatusList" [value]="taskStatus.id">{{taskStatus.description}}</option>
                </select>
            </div>
            <div class="col-6">
                <span>JIRA TICKESTS</span>                 
                <input type="number" id="txtjitatickets" name="txtjitatickets">                      
             
            </div>
            </div>
            <div class="row col-12" >
                <div class="col-6">
                    <div>
                        <span>TASK</span>
                        <textarea id="Tasktxt" name="Tasktxt" rows="4" cols="50">                           
                            </textarea>
                    </div>
                </div>
                <div class="col-6">
                    <span >SUB TASK</span>
                    <textarea id="SubTasktxt" name="SubTasktxt" rows="4" cols="50">                      
                        </textarea>
                      </div>
            </div>
                  
            <div class="row col-12" style="margin-top:20px;margin-left: 20px;">
                <button type="submit" style="background-color: #28a745;    width: 231px;
                height: 50px;color:white" value="Submit" (click)="AddTaskAndSubTask()">Submit</button>
            </div>   
        </form>
</div>
