<div class="bottom-content" *ngIf="HelpDeskTickets.length > 0">
    <div class="row">
        <div class="content-top" *ngIf="IsData;else release_content">
            <div class="head"><img src="" class="icon1">Help Desk Tickets</div>
            <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [labels]="chartOptions.labels"
                  [responsive]="chartOptions.responsive"
                  [colors]="chartOptions.colors"
                  [dataLabels]="chartOptions.dataLabels"
                  [legend]="chartOptions.legend"
                  [plotOptions]="chartOptions.plotOptions"
                ></apx-chart>
            </div>
        </div>
    </div>
</div>
<div class="bottom-content No-Data" *ngIf="HelpDeskTickets.length === 0">
    <div class="row">
        <div class="content-top No-Data-Content">
            <div *ngIf="HelpDeskTickets.length > 0;else nodata_content"></div>
        </div>
    </div>
</div>

<ng-template #nodata_content>
    Data is not available for this Month and Year 
</ng-template>
