.header-secondary {
	position: sticky !important;
	top: 56px;
	z-index: 5;
	background-color: #fff;
}
li.active a {
	background: transparent!important;
	border-bottom: #1177c8 3px solid;
	font-weight: bold;
}

.left-righticon a:hover {
	background-color: #c2c2ca;
	text-decoration: none;
}

.title-sec-right span {
	font-size: 9px;
	color: #a7a7a7;
	padding-right: 5px;
	font-weight: bold;
}
.title-sec-right form {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.title-sec {
	height: 75px;
	width: 100%;
}

.title-sec-left {
	width: 50%;
	float: left;
	height: inherit;
	display: flex;
}
.title-sec-right {
	width: 47%;
	float: left;
	height: inherit;
	line-height: 75px;
	text-align: right;
}

.dropdown {
	background-color: transparent;
	border: 1px solid #9a9a9e;
	box-shadow: 0px 0px 2px #ccc;
	height: 26px;
	border-radius: 3px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.navbar-expand-md .navbar-collapse {
	border-bottom: 1px solid #ccc;
}

nav.navbar.navbar-default {
	border: 0px;
	background: transparent;
}

.nav-sec {
	padding: 0px 30px;
}
.left-righticon {
	width: 100px;
	float: left;
	height: inherit;
	line-height: 80px;
	color: blue;
	font-size: 20px;
}

.msr-txt {
	width: 80px;
	float: left;
	height: inherit;
	line-height: 80px;
	margin-left: 37px;
	font-size: 28px;
	font-weight: bold;
}

.msr-mnth {
	width: 250px;
	float: left;
	height: inherit;
	line-height: 80px;
	font-size: 28px;
}

@media only screen and (max-width: 1129px) {
	.msr-txt {
		width: 73px;
		float: left;
		height: inherit;
		line-height: 80px;
		margin-left: 37px;
		font-size: 26px;
		font-weight: bold;
	}
	.msr-mnth {
		width: 194px;
		float: left;
		height: inherit;
		line-height: 80px;
		font-size: 26px;
	}
}
@media only screen and (max-width: 988px) {
	.msr-txt {
		width: 73px;
		float: left;
		height: inherit;
		line-height: 80px;
		margin-left: 37px;
		font-size: 26px;
		font-weight: bold;
	}
	.msr-mnth {
		width: 194px;
		float: left;
		height: inherit;
		line-height: 80px;
		font-size: 26px;
	}
	.title-sec-left {
		width: 100%;
		float: left;
		height: inherit;
	}
	.title-sec-right {
		width: 100%;
		float: left;
		height: inherit;
		line-height: 75px;
		text-align: right!important;
	}
	.title-sec-right form.ng-untouched.ng-pristine.ng-valid {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
@media only screen and (max-width: 767px) {
	.title-sec-left {
		display: flex;
	}
	.left-righticon {
		width: 55px;
		float: right;
		margin-left: auto;
		color: blue;
		font-size: 20px;
		line-height: 55px;
		display: flex;
	}
	.msr-mnth {
		width: auto;
		float: left;
		line-height: 54px;
		font-size: 20px;
	}
	.msr-txt {
		width: auto;
		float: left;
		line-height: 55px;
		margin-left: 0;
		font-size: 20px;
		font-weight: bold;
		margin-right: 5px;	
	}
	.title-sec-right {
		margin-bottom: -55px;
		width: auto;
		float: right;
		height: auto;
		line-height: 55px;
		padding-right: 15px;
		position: relative;
    	z-index: 4;
	}
}
@media (max-width: 370px) {
	.navbar-light .navbar-toggler {
		padding: 2px 5px;
	}
}
@media (max-width: 340px) {
	.title-sec-right {
		width: 100%;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		line-height: normal;
	}
}

