.bottom-content {
	padding: 0px 15px;
}

.content-bottom {
	margin-bottom: 28px;
	min-height: 1px;
	overflow: auto;
	padding-top: 0px;
	padding-bottom: 28px;
	margin: 0px 36px;
}

.thrr-col {
	float: left;
	padding: 10px 9px;
}

.thrr-col1 {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.head {
	font-size: 16px;
	font-weight: bold;
	color: #001871;
	margin-bottom: 8px;
}

.sub-head{
	padding-left: 49px;
	margin-top: -22px;
	margin-bottom: 15px;
	font-size: 14px;
	color: #afacac;
}

.icon1{
	width: 40px;
}

ol {
	list-style: none; 
	counter-reset: li
}

li::before {
	content: counter(li) "."; 
	color: rgb(195, 151, 47);
	display: inline-block; 
	width: 1em;
	margin-left: -1em
}

li {
	counter-increment: li
}

.content-top {
	background-color: #fff;
	padding: 15px;
	margin: 8px 45px;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.No-Data{
	height: 65vh;
}

.No-Data-Content{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
