.bottom-content {
	padding: 0px 15px;
}

.content-top {
	background-color: #fff;
	padding: 15px;
	margin: 8px 45px;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.head {
	font-size: 16px;
	font-weight: bold;
	color: #001871;
	margin-bottom: 8px;
}

.body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	background-color: #fff;
}

.bottom {
	width: 100%;
	min-height: 1px;
	overflow: auto;
	background-color: #f6f6f6;
	padding: 0px 15px;
}

.title-navsec {
	height: 135px;
	width: 100%;
}

.bg-light {
	background-color: transparent!important;
	padding: 0px 37px;
}

.thrr-col1 {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.thrr-col2 {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.thrr-col3 {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.thrr-col {
	float: left;
	padding: 10px 9px;
}

.content-bottom {
	margin-bottom: 28px;
	min-height: 1px;
	overflow: auto;
	padding-top: 0px;
	padding-bottom: 28px;
	margin: 0px 36px;
	width: 100%;
}

li.active a {
	background: transparent!important;
	border-bottom: #1177c8 3px solid;
	font-weight: bold;
}

ul.col1-ul li::before {
	content: "\2022";
	color: #a000b5;
	font-weight: bold;
	display: inline-block;
	font-size: 15px;
	width: 1em;
	margin-left: -15px;
}

ul.col2-ul li::before {
	content: "\2022";
	color: #0800c8;
	font-weight: bold;
	display: inline-block;
	font-size: 15px;
	width: 1em;
	margin-left: -15px;
}

ul.col3-ul li::before {
	content: "\2022";
	color: #009639;
	font-weight: bold;
	display: inline-block;
	font-size: 15px;
	width: 1em;
	margin-left: -15px;
}

.container-fluid {
	padding-right: 0px!important;
	padding-left: 0px!important;
	margin-right: auto;
	margin-left: auto;
	width: 97%;
	border-bottom: 1px solid #ccc;
}

.No-Data{
	height: 65vh;
}

.No-Data-Content{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

