<div class="bottom-content" *ngIf="PrivateSiteData.length > 0">
    <div class="row">
        <div class="content-bottom">
            <div class="col-sm-12  col-md-6 thrr-col" *ngFor="let Tasks of PrivateSiteData;let index = index">
                <div class="col-sm-12 thrr-col thrr-col1">
                    <div class="head">
                        <img src="assets/icons/{{Tasks.icon}}" class="icon1">&nbsp;&nbsp;{{Tasks.privateType}}
                    </div>
                    <div style="padding-right: 20px;text-align:justify;padding-left: 10px;">
                        <div *ngIf="Tasks.description;else release_content"
                        [innerHTML]="Tasks.description" style="font-size: 15px;"></div>
                    </div>
                    <ul *ngIf="Tasks.subTasks">
                        <li style="font-size: 15px;" *ngFor="let subTasks of Tasks.subTasks">
                            <!-- | slice : startPage:paginationLimit -->
                            {{subTasks.description}}
                            <a *ngFor="let ticket of subTasks.jiraTickets" target="_blank"
                                href="https://stackoverflow.com/questions/{{ticket.jiraTicketId}}">{{ticket.jiraTicketId}},</a>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-content No-Data" *ngIf="PrivateSiteData.length === 0">
    <div class="row">
        <div class="content-top No-Data-Content">
            <div *ngIf="PrivateSiteData.length > 0;else nodata_content"></div>
        </div>
    </div>
</div>

<ng-template #nodata_content>
    Data is not available for this Month and Year 
</ng-template>